<div class="wrapper text-center">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <div class="padded grey-border">
        <h1><%= @question %></h1>
        <h2>- You -</h2>
      </div>
    </div>
    <div class="col-sm-4 offset-sm-4">
        <div class="padded grey-border">
          <h1>
            <% if @question == @question.upcase && @question != "" %>
              <% unless @question == "I AM GOING TO WORK RIGHT NOW!" %>
                <%= "I can feel your motivation! \n" %>
                <% if @question.end_with?("?")%>
                  <%= @answers.sample %>
                <% elsif @question == "I am going to work right now!" %>
                  <%= "" %>
                <% else %>
                  <%= "I don't care, get dressed and go to work!" %>
                <% end %>
              <% end%>
              <%= "" %>
            <% else %>
              <% if @question.end_with?("?")%>
                <%= @answers.sample %>
              <% elsif @question == "I am going to work right now!" %>
                <%= "" %>
              <% else %>
                <%= "I don't care, get dressed and go to work!" %>
              <% end %>
            <% end %>
          </h1>
      </div>
    </div>
    <div class="col-sm-4 offset-sm-4">
      <div class="padded">
        <%= link_to 'Ask a new question', '/ask' %>
      </div>
    </div>
  </div>
</div>



